
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
  
 
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
}
.logo{
    padding: 1em;
    margin: 0;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 50px;
    
}
.content .info {
    padding: 2em;
    margin-top: -4em;
}
.content .info > h1{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.content .info > p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    font-weight:300;
}

.content .info > button{
    background-color: rgb(255, 255, 255);
    color: rgb(143, 82, 160);
    padding: 15px;
    width: 14em;
    border-radius: 2em;
    border-style: none;
    box-shadow:  2px 5px 5px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 10px;

}
.content .info > button:hover {
    background-color: rgba(237, 132, 237, 0.646);
    cursor: pointer;
    
}

.content .info > button a {
    text-decoration: none;
    color: rgb(143, 81, 160) ;
    
}
.content .info > button a:hover{
    color:rgb(254, 254, 254)
}
footer{
    display: flex;
    flex-direction: column;
}
footer .iconos{
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
    
    gap: 20px;
    color: rgba(255, 255, 255, 0.664);
}
footer .iconos > .twitter:hover{
    color: aliceblue;
    cursor: pointer;
}
footer .iconos > .wsp:hover{
    color: aliceblue;
    cursor: pointer;
}
footer .iconos > .face:hover{
    color: aliceblue;
    cursor: pointer;
}
footer .attribution{
    
    display: flex;
    
    justify-content: center;
}


@media screen and (max-width:1140px) {
    .content{
        flex-direction: column;
        text-align: center;
    }
    footer .iconos{
        justify-content: center;
        margin-top: 2em;
        margin-right: 0;
    }
}
@media screen and (max-width:800px) {
    .logo{
        transform: scale(.9);
        margin:0;
        gap: 0;
        padding-top: 1em;

    }
    .content{
        padding: 0;
    }
    .content > .image{
        transform: scale(.6);
        
    }
    .content > .info{
        padding: 0;
    }
}

@media screen and (max-width:430px) {
    /* .logo{
        transform: scale(.9);
        margin:0;
        gap: 0;
        padding-top: 1em;

    } */
    .content{
        gap: 0;
    }
    .content > .image{
        transform: scale(.47);
        
    }
    .content > .info{
        padding: 0;
        
    }
}


    
